body{
    background-color: black;
    color: beige;
}

h1{
    text-align: center;
}

.wrapper{
    text-align: center;
    padding: 70px;
    color: beige;
}

.rpsButton{
    padding: 25px;
    font-size: 60px;
    background-color: black;
    border-color: beige;
    border-radius: 20px;
}

.details{
    padding: 30px;
}

#score,#hands,#result,#player-score{
    text-align: center;
    font-size: 20px;
}

.reset{
    text-align: center;
    padding: 30px;
}

#endGameButton{
    border-color: bisque;
    background-color: black;
    color: beige;
    border-radius: 100px;
    text-align: center;
    padding: 5px;
    font-size: 40px;
}